= form_tag namespace_project_compare_index_path(@project.namespace, @project), method: :post, class: 'form-inline js-requires-input' do
  .clearfix
    - if params[:to] && params[:from]
      .compare-switch-container
        = link_to icon('exchange'), {from: params[:to], to: params[:from]}, {class: 'commits-compare-switch has-tooltip', title: 'Switch base of comparison'}
    .form-group.dropdown.compare-form-group.from.js-compare-from-dropdown
      .input-group.inline-input-group
        %span.input-group-addon from
        = hidden_field_tag :from, params[:from]
        = button_tag type: 'button', title: params[:from], class: "form-control compare-dropdown-toggle js-compare-dropdown has-tooltip", required: true, data: { refs_url: refs_namespace_project_path(@project.namespace, @project), toggle: "dropdown", target: ".js-compare-from-dropdown", selected: params[:from], field_name: :from } do
          .dropdown-toggle-text.str-truncated= params[:from] || 'Select branch/tag'
      = render "ref_dropdown"
    .compare-ellipsis.inline ...
    .form-group.dropdown.compare-form-group.to.js-compare-to-dropdown
      .input-group.inline-input-group
        %span.input-group-addon to
        = hidden_field_tag :to, params[:to]
        = button_tag type: 'button', title: params[:to], class: "form-control compare-dropdown-toggle js-compare-dropdown has-tooltip", required: true, data: { refs_url: refs_namespace_project_path(@project.namespace, @project), toggle: "dropdown", target: ".js-compare-to-dropdown", selected: params[:to], field_name: :to } do
          .dropdown-toggle-text.str-truncated= params[:to] || 'Select branch/tag'
      = render "ref_dropdown"
    &nbsp;
    = button_tag "Compare", class: "btn btn-create commits-compare-btn"
    - if @merge_request.present?
      = link_to "View Open Merge Request", namespace_project_merge_request_path(@project.namespace, @project, @merge_request), class: 'prepend-left-10 btn'
    - elsif create_mr_button?
      = link_to create_mr_path, class: 'prepend-left-10 btn' do
        = icon("plus")
        Create Merge Request
